/* RESET */
a{
    text-decoration: none;
}
ol, ul{
  list-style: none;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a ,em, img, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6, p, a, ul{
  font-size: 1em;
  font-weight: normal;
}
/* GERAL */
body{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #e5e5e5;
}
p{
  font-family: 'Poly', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
img{
  display: block;
  min-width: 100%;
}
.container{
  width: 940px;
  margin: 0 auto;
}
.botao-chamada{
  display: flex;
  justify-content: center;
}
.btn{
  width: 200px;
  height: 40px;
  background-color: #fe0000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 4px solid #cf0808;
  transition: filter .2s;
  animation: fadeIn .3s forwards;
}
.btn:hover{
  filter: brightness(80%);
}
.titulo{
  font-size: 24px;
  line-height: 30px;
  color: #1e1e1e;
  font-weight: bold;
}
.titulo::after{
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: #fe0000;
}
.anime{
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: .8s;
}
.anime-start{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* HEADER */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 19;
  height: 60px;
  background-color: #ffe711;
}
.conteudo-header{
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 75px;
  height: 75px;
  position: relative;
  top: 23px;
}
.logo img{
  width: 100%;
}
.menu ul{
  display: flex;
  justify-self: start;
  align-items: center;
  line-height: 60px;
  animation: fadeIn .8s both;
}
.menu ul li{
  margin-right: 15px;
}
.menu ul li a{
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #1e1e1e;
}
.menu ul li a:hover{
  line-height: 50px;
  border-bottom: 4px solid #fe0000;
}
.menu ul li a.active{
  line-height: 50px;
  border-bottom: 4px solid #fe0000;
}
/* HOME */
.apresentacao{
  width: 100%;
  margin-top: 60px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apresentacao h2{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.apresentacao .btn{
  margin-top: 10px;
}
.apresentacao-home{
  background: url("../imagens/capa-home.jpg") no-repeat center;
  background-size: cover;
  background-color: #6d6a6a;
}
.icone-capacete{
  width: 200px;
  height: 200px;
  background-color: #ffe711;
  border-radius: 50%;
  position: absolute;
  top: 210px;
  right: 210px;
  z-index: 10;
  animation: fadeIn .8s both;
}
/* GALERIA CHAMADA */
.galeria{
  margin-top: 30px;
}
.grupo1{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 490px;
  margin-right: 20px;
}
.fotos{
  display: flex;
  margin-top: 20px;
}
.foto1{
  width: 280px;
  height: 230px;
  margin-right: 20px;
}
.foto3{
  width: 700px;
  height: 230px;
}
.foto2{
  width: 400px;
  height: 230px;
}
.grupo2{
  width: 220px;
  height: 430px;
  margin-top: 45px;
}
/* SOBRE CHAMADA */
.sobre{
  margin-top: 20px;
}
.sobre-bloco{
  height: 230px;
  display: flex;
  margin:20px 0;
}
.icone-sobre{
  width: 240px;
  background-color: #ffe711;
}
.icone-sobre img{
  width: 100%;
  height: 100%;
}
.sobre-bloco ul{
  background-color: #1e1e1e;
  width: 100%;
  padding: 30px 60px;
  list-style-type: square;
}
.sobre-bloco ul li{
  font-family: 'Poly', serif;
  font-size: 18px;
  line-height: 30px;
}
/* Trilhas chamada */
.trilhas{
  margin-top: 20px;
}
.trilhas-grupo{
  margin-top: 20px;
  display: flex;
  height: 290px;  
  margin-bottom: 20px;
}
.trilha1{
  width: 400px;
  height: 290px;
}
.trilhas-agrupadas{
  width: 280px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.trilha2{height: 155px; width: 280px;}
.trilha3{height: 115px; width: 130px; margin-top: 20px;}
.trilha4{
  height: 115px; 
  width: 130px; 
  margin-left: 20px; 
  margin-top: 20px;
}
.trilha5{
  width: 220px;
  height: 290px;
  margin-left: 20px;
}
.trilha-info{
  position: relative;
  background: rgba(30, 30, 30, 0.79);
  display: flex;
  justify-content: center;
  align-items: center;
}
.trilha-info-M{
  height: 30px;
  top: -30px;
}
.trilha-info-G{
  width: 100%;
  height: 60px;
  top: -60px;
}
.titulo-trilha{
  font-family: 'Poly', serif;
  font-size: 18px;
  color: #e5e5e5;
}
.titulo-trilha::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fe0000;
}
.titulo-trilha-M{
  font-size: 14px;
}
.titulo-trilha-M::after{
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fe0000;
}
/* Logo fixo */
.logo-fixo{
  width:220px;
  height: 220px;
  position: absolute;
  top: 1880px;
  right: 210px;
}
.logo-fixo img{
  width:220px;
  height: 220px;
}
/* Contato chamada */
.contato{
  height: 260px;
}
.contato .titulo{
  margin-top: 20px;
}
.conteudo-contato{
  display: flex;
}
.conteudo-contato form{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-family: "Poly", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.conteudo-contato label{
  margin-bottom: 5px;
}
.conteudo-contato form input, textarea{
  display: block;
  width: 460px;
  height: 40px;
  box-sizing: border-box;
  padding: 7px 10px;
  font-size: 14px;
  font-family:"Poly", serif;
  margin-bottom: 10px;
  line-height: 20px;
  color: #1e1e1e;
  outline: none;
}
.conteudo-contato .mensagem{
  height: 70px;
  resize: none;
}
form .btn{
  margin-top: 5px;
}
.contato-sociais{
  width: 100%;
  background-color: #1e1e1e;
  margin-top: 20px;
}
.sociais{
  margin-top: 10px;
  margin-left: 20px;
}
.sociais span{
  font-family: "Poly" ,serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}
.sociais span:last-child{
  display: block;
  margin-top: 10px;
}
.sociais ul{
  display: flex;
}
.sociais ul li{
  margin-right: 10px;
  transition: filter .2s;
}
.sociais ul li:hover{
  filter: brightness(80%);
}
/* Frase */
.frase{
  margin-top: 0;
  height: 200px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frase blockquote{
  width: 440px;
}
.frase blockquote p{
  margin-left: 0;
  text-align: right;
}
.frase blockquote p::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin-top: 5px;
  background-color: #fe0000;
}
.frase cite{
  float: right;
}
/* Footer */
.footer{
  width: 100%;
  height: 140px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.dados-footer{
  display: grid;
  align-items: center;
  height: 100px;
}
.dados-footer h3{
  font-weight: bold;
  margin-bottom: 10px;
}
.dados-footer p{
  padding-bottom: 8px;
}
.dados-footer .contato-footer{
  grid-column: 1;
}
.dados-footer .sobre-footer{
  grid-column: 2;
}
.dados-footer .redes-sociais-footer{
  grid-column: 3;
  display: flex;
  flex-direction: column;
}
.dados-footer .redes-sociais-footer .icones-footer{
  display: flex;
  height: 55px;
}
.icones-footer a {
  margin-right: 10px;
  display: block;
}
.copy{
  width: 100%;
  height: 40px;
  background-color: #ffe711;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Animação */
@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }to{
    opacity: 1; transform: translate3d(0px, 0, 0);
  }
}
@keyframes identifier {
  0% { top: 0; }
  50% { top: 30px; left: 20px; }
  50% { top: 10px; }
  100% { top: 0; }
}

/* Responsivo */
/* TABLET */
@media only screen and (min-width: 788px) and (max-width:979px){
  .icone-capacete{
    display: none;
  }
  .container{
    width: 700px;
  }
  .grupo1{
    margin: 0 auto;
  }
  .grupo2{
    display: none;
  }
  .trilha5{
    display: none;
  }
  .logo-fixo{
    display: none;
  }
}
/* SMARTPHONE */
@media only screen and (max-width:787px){
  .icone-capacete{
    display: none;
  }
  .container{
    width: 350px;
  }
  .header{
    height: 100px;
  }
  .conteudo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  .menu ul{
    margin-left: 20px;
  }
  .apresentacao-home{
    background: url("../imagens/capa-home-smart.jpg") no-repeat center;
  }
  .apresentacao h2{
    font-size: 1rem;
  }
  .fotos{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .grupo2{
    display: none;
    margin: 0;
    padding: 0;
  }
  .grupo1{
    width: 100%;
    height: auto;
    display: grid;
    margin-bottom: 0;
    grid-template-rows: 1fr 1fr;
  }
  .grupo1 img{
    width: 100%;
  }
  .foto1, .foto2, .foto3{
    width: 100%;
  }
  .foto3{
    height: auto;
  }
  .galeria .botao-chamada{
    margin-top: 20px;
  }
  .icone-sobre{
    display: none;
  }
  .sobre-bloco ul{
    padding: 20px 30px;
  }
  .trilhas-grupo{
    display: grid;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
  }
  .trilhas-grupo .trilha1{
    width: 100%;
    margin-bottom: 0;
  }
  .trilhas-agrupadas{
    margin: 0 auto;
  }
  .trilhas-grupo .trilha1 img{
    width: 100%;
  }
  .trilha5{
    margin: 20px auto;
  }
  .logo-fixo{
    display: none;
  }
  .contato{
    height: auto;
  }
  .contato-sociais{
    height: auto;
  }
  .conteudo-contato{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .conteudo-contato form, 
  .conteudo-contato form input, 
  .conteudo-contato textarea{
    width: 100%;
  }
  .conteudo-contato .sociais{
    margin-left: 0;
  }
  .frase{
    height: 150px;
  }
  .frase blockquote{
    width: 100%;
  }
  .frase blockquote p::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 5px;
    margin-left: 60px;
    background-color: #fe0000;
  }
  .footer{
    height:auto;
  }
  .dados-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
  }
  .contato-footer{
   width: 50%;
  }
  .sobre-footer{
    width: 50%;
    margin-top: 20px;
  }
  .redes-sociais-footer{
    
  }
  .copy{
    
  }
}