/* RESET */
a{
    text-decoration: none;
}
ol, ul{
  list-style: none;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a ,em, img, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6, p, a, ul{
  font-size: 1em;
  font-weight: normal;
}
/* GERAL */
body{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #e5e5e5;
}
p{
  font-family: 'Poly', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
img{
  display: block;
  min-width: 100%;
}
.container{
  width: 940px;
  margin: 0 auto;
}
.btn{
  width: 200px;
  height: 40px;
  background-color: #fe0000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 4px solid #cf0808;
  transition: filter .2s;

}
.btn:hover{
  filter: brightness(80%);
}
/* HEADER */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  background-color: #ffe711;
}
.conteudo-header{
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 75px;
  height: 75px;
  position: relative;
  top: 23px;
}
.logo img{
  width: 100%;
}
.menu ul{
  display: flex;
  justify-self: start;
  align-items: center;
  line-height: 60px;
}
.menu ul li{
  margin-right: 15px;
}
.menu ul li a{
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #1e1e1e;
}
.menu ul li a:hover{
  line-height: 50px;
  border-bottom: 4px solid #fe0000;
}
.menu ul li a.active{
  line-height: 50px;
  border-bottom: 4px solid #fe0000;
}
/* HOME */
.apresentacao{
  width: 100%;
  margin-top: 60px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apresentacao h2{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.apresentacao .btn{
  margin-top: 10px;
}
.apresentacao-home{
  background: url("../imagens/capa-home.jpg") no-repeat center;
  background-size: cover;
  background-color: #6d6a6a;
}
